.button {
    -fx-base: #7dff88;
    -fx-font: 16 consolas;
    -fx-padding: 20px;
}

.text-field {
    -fx-base: #ff9d00;
    -fx-font: 16 consolas;
    -fx-padding: 20px;
}

.check-box {
    -fx-base: #ff7878;
    -fx-font: 16 consolas;
    -fx-padding: 20px;
}

.grid-pane {
    fx-base: #9cdfff;
}